@igrp:registry=https://sonatype.nosi.cv/repository/igrp/
    //sonatype.nosi.cv/repository/igrp/:username=${NPM_REGISTRY_USERNAME}
    //sonatype.nosi.cv/repository/igrp/:_password=${NPM_REGISTRY_PASSWORD}
